

{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="home" id="home" style="position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 5px solid #333;
  filter: opacity(80%);
  filter: contrast(80%);
  z-index: 100;">
		<video autoplay muted loop id="myVideo" style="position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;">
			<source src="{% static 'images/items/bg1.mp4' %}">
		</video>
		<div class="content" style="max-width: 900px;
  text-align: center;
  background-blend-mode: color-burn #111;
  z-index: 100;">
			<h2 style="font-size: 5em;
  color: #fff;
  text-shadow: 0 0 2px #e7315a, 0 0 5px #333;"> <br><br><br>Always Choose Quality</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
			<a href="{% url 'store' %}" class="btn" style="font-size: 1em;
  background-color: rgb(39, 5, 36);
  color: #e7315a;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  box-shadow: 0 0 2px #e7315a, 0 0 5px #333;">STORE</a>
		</div>
	</section>
<!-- ========================= SECTION MAIN END// ========================= -->
<section class="about" id="about" style=" border-bottom: 5px solid #333;
  padding: 120px;
  background-color: rgb(35, 47, 59);">
		<div class="row" style="position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 120px;">
			<div class="col1" style="position: relative;
  width: 48%;
  display: flex;
  flex-wrap: wrap;">
				<h2 class="titleText" style="color: #fff;
  font-size: 2em;
  font-weight: 300;
  justify-content: center;
  align-items: center;"> <span style="color: #e7315a;
  font-weight: 700;
  font-size: 1.5em; ">G</span>ames</h2>
				<p style="color: #fff;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae dolore culpa sapiente neque optio
					tempore! Magnam ut ad laudantium molestiae odit, nulla dolore voluptate quaerat, similique eaque
					repudiandae laborum, corrupti harum quasi voluptas nostrum?lorem12lorem12
				</p>
			</div>
			<div class="col2" style=" position: relative;
  width: 50%;
  min-height: 300px;">
				<div class="vidBx">
          <a href="{% url 'store' %}"> <video autoplay muted loop id="myVideo" style="position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 10px 10px 105px 0px rgba(105, 104, 104, 0.5);">
            <source src="{% static 'images/items/Games.mp4' %} ">
          </video> </a>

				</div>
			</div>
		</div>
		<div class="row" style="position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 120px;">
			<div class="col2" style=" position: relative;
  width: 50%;
  min-height: 300px;">
				<div class="vidBx">
          <a href="{% url 'store' %}"> <video autoplay muted loop id="myVideo" style="position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 10px 10px 105px 0px rgba(105, 104, 104, 0.5);">
            <source src="{% static 'images/items/Productivity.mp4' %} ">
          </video> </a>

        </div>
			</div>
			<div class="col1" style="position: relative;
  width: 48%;
  display: flex;
  flex-wrap: wrap;">
				<h2 class="titleText" style="color: #fff;
  "><span style="color: #e7315a;
  font-weight: 700;
  font-size: 1.5em;">P</span>roductivity</h2>
				<p style="color: #fff;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae dolore culpa sapiente neque optio
					tempore! Magnam ut ad laudantium molestiae odit, nulla dolore voluptate quaerat, similique eaque
					repudiandae laborum, corrupti harum quasi voluptas nostrum?lorem12lorem12
				</p>
			</div>
		</div>
		<div class="row" style="position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 120px;">
			<div class="col1" style="position: relative;
  width: 48%;
  display: flex;
  flex-wrap: wrap;">
				<h2 class="titleText" style="color: #fff;
  "><span style="color: #e7315a;
  font-weight: 700;
  font-size: 1.5em;">U</span>tilities</h2>
				<p style="color: #fff;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae dolore culpa sapiente neque optio
					tempore! Magnam ut ad laudantium molestiae odit, nulla dolore voluptate quaerat, similique eaque
					repudiandae laborum, corrupti harum quasi voluptas nostrum?lorem12lorem12
				</p>
			</div>
			<div class="col2" style=" position: relative;
  width: 50%;
  min-height: 300px;">
				<div class="vidBx">
          <a href="{% url 'store' %}"> <video autoplay muted loop id="myVideo" style="position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 10px 10px 105px 0px rgba(105, 104, 104, 0.5);">
            <source src="{% static 'images/items/Utilities.mp4' %} ">
          </video> </a>

        </div>
			</div>
		</div>
	</section>






</body>
</html>

{% endblock %}